/server/node_modules
/server/bower_components
/server/dump.rdb
/server/lib-cov
*.seed
*.log
*.lock
*.out
*.pid
/server/npm-debug.log
*~
*#
.DS_STORE
/server/.DS_STORE
/server/.netbeans
/server/nbproject
/server/.idea
/server/.node_history

/webApp/.DS_STORE
/webApp/.netbeans
/webApp/nbproject
/webApp/.idea
/webApp/.node_history
/webApp/node_modules
/webApp/bower_components
/webApp/.tmp
/webApp/release
node_modules
/webApp/gulp.1
/webApp/src/release

/webApp/server/.DS_STORE
/webApp/server/node_modules
