<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Assign Users</h4>
  </div>
  <div class="modal-body">
    <selectable-list records="UCs" record-list="UCList" module="Users"></selectable-list>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="assignUC()">Add</button>
  </div>
</div>
